
#svg-sprite{
    display: none;
}

body{
    font-family: sans-serif;
}

a{
    color: #172c3a;
    text-decoration: none;
}


/* ==============================================================
   --icons
   ============================================================== */
.icon{
    display: inline-block;
    vertical-align: middle;
}
.icon--quote-marks{
    fill:white;
    width: 40px;
    height: 20px;
}
.icon--cta{
    width: 14px;
    height: 12px;
    margin-left: 4px;
}




/* ==============================================================
   --other
   ============================================================== */
.quote-box{
    width: 200px;
    background: #172c3a;
    padding: 20px;
    color: #fff;
    text-align: center;
}