
#svg-sprite{
    display: none;
}

body{
    font-family: sans-serif;
}

a{
    color: #172c3a;
    text-decoration: none;
}


/* ==============================================================
   --icons
   ============================================================== */
.icon{
    display: inline-block;
    vertical-align: middle;
}
.icon--quote-marks{
    fill:white;
    width: 40px;
    height: 20px;
}
.icon--cta{
    width: 14px;
    height: 12px;
    margin-left: 4px;
}

.svg-encode--cta:after{
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 16px;
    height: 12px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080.4%2082.4%22%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.5.8l78.8%2040.4L.5%2081.6z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
}




/* ==============================================================
   --other
   ============================================================== */
.quote-box{
    width: 200px;
    background: #172c3a;
    padding: 20px;
    color: #fff;
    text-align: center;
}


.some-sweet-svg path{
    fill: #0f0;
    width: 40px;
}