
#svg-sprite{
    display: none;
}

body{
    font-family: sans-serif;
}

a{
    color: #172c3a;
    text-decoration: none;
}


/* ==============================================================
   --icons
   ============================================================== */
.icon{
    display: inline-block;
    vertical-align: middle;
}
.icon--quote-marks{
    fill:white;
    width: 40px;
    height: 20px;
}
.icon--cta{
    width: 14px;
    height: 12px;
    margin-left: 4px;
}

.svg-encode--cta:after{
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 30px;
    height: 1em;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20222%20155%22%3E%3Cpath%20d%3D%22M182%20152.4L166%20137l-7.1-.7-11.6%206.7-63.1-28.4-7.8-10.7%203.2-8.6-2.8-9.5-25.2-26.3%201.3-4-17-19.1L29%2017.5%2021.5%2013l.6%2011L40%2050.3l13.5%2028.8-6.2%205.5-16.4-19.2-.4-10.2L12%2041.4l8.1-2.4.1-3.3-9.1-10.6L2.3%201.5h19.1l22.2%2012.6h20V10L78%2012.1l18.7%2021.6%206.3-7.1%2011.3%202.1L130%2055.3l11.5%202.8v6.8l-4.3%2019.6%2013.8%2029.3%2013.9%204.8%2013.2-6.1%203.6%201.6%203.1-2.8%204.4-15.5%2015.5-7.5%2015.2.5-4.9%2022.6-10.9%2010.9H191l-.6%205.1%207.4%207.9-13.7%202-2.1%2015.1z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
}

.mexico{
    fill:transparent;
    stroke: red;
    stroke-width:10;
}




/* ==============================================================
   --other
   ============================================================== */
.quote-box{
    width: 200px;
    background: #172c3a;
    padding: 20px;
    color: #fff;
    text-align: center;
}


.some-sweet-svg path{
    fill: #0f0;
}